body{
    background-color: rgba(0, 0, 255, 0.349);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:  none;
    text-align: center;
    max-width: 50%;
    max-height: 100%;
    margin-left: 350px;
    margin-top: 250px;
    background-color: white;
    border-radius: 10px;
}

h3{
    font-size: 50px;
    font-weight: 200px;
    
}

.jokes{
    font-size: 25px;
    padding: 10px;
    
}

.jokesBtn{
    margin-top: 40px;
    margin-bottom: 18px;
    padding: 10px;
    width: 20%;
    bottom: 5px;
    color: black;
    background-color: rgb(217, 255, 0);
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}